header {
    background-color: var(--cor-azul-escuro);
    text-align: center;
    padding: 20px;
}

header img {
    display: inline;
    margin: 0 auto;
}

#titulo-destaque {
    color: var(--cor-branco);
    font-size: 40px;
}

.menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: var(--cor-azul-menu);
    padding: 15px;
    border-radius: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--cor-texto-claro);
    font-weight: bold;
    font-size: clamp(12px, 2vw, 20px);
    transition: color 0.3s;
}

.menu a:hover {
    color: var(--cor-dourado);
}

section {
    padding: 20px;
}

main ul, main li {
    margin-top: 20px;
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-azul-escuro);
    color: var(--cor-texto-claro);
}
